[Unit]
Description=Clean up modules from old kernels

[Service]
Type=oneshot
ExecStart=/bin/bash -exc 'for i in /usr/lib/modules/backups/[0-9]*; do if [[ $${i##*/} = \'%v\' ]]; then continue; fi; mv "$${i}" /usr/lib/modules/.old/; find /usr/lib/modules -maxdepth 1  -type l ! -exec test -e {} \; -delete; done'

[Install]
WantedBy=basic.target
